mwl-calendar .cal-day-today {
  width: 100%;
  height: 100%;
  position: absolute;
}

mwl-calendar .events-list {
  width: 100%;
  text-align: center;
  padding-left: 0;
}

mwl-calendar .event {
  box-shadow: none;
  border: none;
  float: none;
  display: inline-block;
}

mwl-calendar .event-success {
  background-color: #05BB02;
}

mwl-calendar .event-important {
  background-color: #CE1717;
}
