<form class="" ng-submit="createShift(shift)">
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" type="text" class="form-control" placeholder="Morning" ng-model="shift.name" value="">
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="name">Start Date: </label>
      <datetimepicker 
      ng-model="shift.startDate" 
      date-format="shortDate"
      show-spinners="true"
      minute-step="5"></datetimepicker>
    </div>
    <div class="form-group">
      <label for="name">End Date: </label>
      <datetimepicker 
      ng-model="shift.endDate" 
      date-format="shortDate"
      show-spinners="true"
      minute-step="5"></datetimepicker>
    </div>
  </div>
  <div class="form-group">
    <label for="volunteers">Volunteers: </label>
    <tags-input ng-model="shift.volunteerNames" 
    display-property="name" 
    key-property="id" 
    on-tag-added="tagAdded($tag)"
    replace-spaces-with-dashes="false">
      <auto-complete source="filteredTagsAutoComplete($query)"></auto-complete>
    </tags-input>
    <!-- <input id="volunteers" type="text" class="form-control" placeholder="Emil Guareno, Wendy Peralta" ng-model="shift.volunteers" value="56b821a7a74873b41276bae0"> -->
  </div>
  <input type="submit" class="btn btn-default" value="Submit">
</form>
