<form class="" ng-submit="createShift(shift)">
  <label for="name">Name: </label>
  <input id="name" type="text" ng-model="shift.name" value="">
  <label for="start-date">Start Date: </label>
  <input id="start-date" type="text" ng-model="shift.startDate" value="">
  <label for="end-date">End Date: </label>
  <input id="end-date" type="text" ng-model="shift.endDate" value="">
  <label for="volunteers">Volunteers: </label>
  <input id="volunteers" type="text" ng-model="shift.volunteers" value="56b821a7a74873b41276bae0">
  <input type="submit" value="Submit">
</form>
